# Python Fundamentals: Project

* * * 


<div class="alert alert-success">  
    
### Learning Objectives 
    
* Apply the skills you have learned in this workshop series to a health dataset.
* Understand how to navigate file structures in Jupyter.
* Apply Pandas methods to concatenate dataframes, clean up data, count and group values, and visualize correlations. 
* Use your search engine to look up how functions and methods work.
    
</div>


### Icons Used in This Notebook
üîî **Question**: A quick question to help you understand what's going on.<br>
ü•ä **Challenge**: Interactive exercise. We'll work through these in the workshop!<br>
üí° **Tip**: How to do something a bit more efficiently or effectively.<br>
‚ö†Ô∏è **Warning:** Heads-up about tricky stuff or common mistakes.<br>
üìù **Poll:** A Zoom poll to help you learn!


### Sections
1. [üöÄ Project](#project)
2. [Step 1: Import the Data](#data)
3. [Step 2: Data Cleaning](#clean)
4. [Step 3: Data Analysis](#eda)

<a id='project'></a>

# üöÄ Project

### Data: California Health Interview Survey
The [California Health Interview Survey (CHIS)](https://healthpolicy.ucla.edu/chis/Pages/default.aspx) is the nation's largest state health survey and a critical source of data on Californians as well as on the state's various racial and ethnic groups. The data has been altered for demonstration purposes.

The data has the following columns:

- `general_health`: Self-Reported assessment of general health
- `veg_perweek`: How many vegetables consumed per week
- `feel_left_out`: How often feeling left out
- `poverty_level`: Poverty level as Times of 100% Federal Poverty Line (FPL)
- `household_tenure`: Self-Reported household tenure
- `interview_language`: Language of interview

For this project, the goal we want to accomplish is **visualizing the relationship between poverty level and general health**. We will bring together basic programming and data science techniques you have learned to do this.

üîî **Question**: Are there other research questions you could imagine asking with this dataset?

<a id='data'></a>

# Step 1: Importing Data 

Before we import our data, a few words on **filepaths**. 

A filepath is the location of a file on your system. There are two kinds of filepaths:

* **absolute**: The filepath from the top level folder of your system.
* **relative**: The filepath relative to the current working directory (i.e. this notebook's location). 

<img src="../img/filetree.png" alt="Absolute and relative filepaths" width="500"/>

## Using `listdir()`

When you are figuring out what filepath to use, you can use `os.listdir([PATH])` to list all subdirectories in a path. For example, let's see what directories are available to us in the current folder (noted with a dot `.`).

In [2]:
import os

In [3]:
os.listdir('.')

['6_Project.ipynb', 'chis_data', 'README.md']

Looking up the items in the folder after moving up one level works like this:

In [4]:
os.listdir('../')

['victoria_hollingshead',
 'LICENSE',
 'anjali_n_ravunniarath',
 'ameya_naik',
 '.gitignore',
 'README.md',
 '.ls-lint.yml',
 '.git',
 '.assets',
 '.vscode']

üí° **Tip:** In Jupyter Lab's File Browser (the folder icon in top left of your screen),  you can navigate to a folder, right-click on a file and select `Copy Path` to get the absolute filepath of a file!

## Locating the Data

Try to locate the files in the "chis_data" folder, which is in the "data" folder, which is in the main "Python-Intermediate" folder. Using `pd.read_csv()`, read in all three data frames and assign them to the three variables defined below.

üí° **Tip**: You can use Jupyter Lab's File Browser to the left of your screen to get a sense of where the "chis_data" folder is.

In [5]:
import pandas as pd

In [6]:


# YOUR CODE HERE
df_eng = pd.read_csv("chis_data/chis_eng.csv", sep=",")
df_esp = pd.read_csv("chis_data/chis_esp.csv", sep=",")
df_other = pd.read_csv("chis_data/chis_other.csv", sep=",")

## Concatenating DataFrames

Look up the [documentation for Pandas](https://pandas.pydata.org/pandas-docs/stable/reference/general_functions.html), and see if you can find a function that **concatenates** the three DataFrames we have now. Save the concatenated list in a new variable called `df`.

In [7]:
# YOUR CODE HERE
df = pd.concat([df_eng,df_esp, df_other])

üîî **Question**: Let's take a look at the final data frame.

1. How many rows and columns are there in the concatenated DataFrame?
2. How many numeric columns are there in the dataset?
3. What data type are the values in the `poverty_level` column?

In [8]:
# YOUR CODE HERE
df.head(20) #Makes you see all csv file concated, you can see the first couple lines

,general_health,veg_perweek,feel_left_out,poverty_level,household_tenure,interview_language
0,NaN,0,NaN,300% FPL AND ABOVE,RENT/SOME OTHER ARRANGEMENT,ENGLISH
1,VERY GOOD,2,SOME OF THE TIME,300% FPL AND ABOVE,OWN,ENGLISH
2,VERY GOOD,20,NaN,100-199% FPL,RENT/SOME OTHER ARRANGEMENT,ENGLISH
3,GOOD,4,HARDLY EVER,100-199% FPL,OWN,ENGLISH
4,GOOD,6,NaN,300% FPL AND ABOVE,RENT/SOME OTHER ARRANGEMENT,ENGLISH
5,FAIR,11,HARDLY EVER,300% FPL AND ABOVE,OWN,ENGLISH
6,NaN,9,HARDLY EVER,0-99% FPL,RENT/SOME OTHER ARRANGEMENT,ENGLISH
7,GOOD,0,HARDLY EVER,200-299% FPL,OWN,ENGLISH
8,GOOD,8,NaN,100-199% FPL,OWN,ENGLISH
9,NaN,18,HARDLY EVER,300% FPL AND ABOVE,OWN,ENGLISH
10,VERY GOOD,22,NaN,100-199% FPL,OWN,ENGLISH
11,VERY GOOD,2,HARDLY EVER,300% FPL AND ABOVE,OWN,ENGLISH
12,VERY GOOD,3,NaN,300% FPL AND ABOVE,RENT/SOME OTHER ARRANGEMENT,ENGLISH
13,NaN,12,NaN,200-299% FPL,RENT/SOME OTHER ARRANGEMENT,ENGLISH
14,VERY GOOD,10,NaN,300% FPL AND ABOVE,OWN,ENGLISH
15,GOOD,11,HARDLY EVER,300% FPL AND ABOVE,OWN,ENGLISH
16,NaN,2,NaN,300% FPL AND ABOVE,RENT/SOME OTHER ARRANGEMENT,ENGLISH
17,FAIR,2,NaN,100-199% FPL,RENT/SOME OTHER ARRANGEMENT,ENGLISH
18,VERY GOOD,1,HARDLY EVER,200-299% FPL,OWN,ENGLISH
19,GOOD,2,NaN,300% FPL AND ABOVE,OWN,ENGLISH

In [9]:
df.shape #check the size of data set, returns rows and columns
#Shape is an attribute not a function

(22160, 6)

In [10]:
df.columns

Index(['general_health', 'veg_perweek', 'feel_left_out', 'poverty_level',
       'household_tenure', 'interview_language'],
      dtype='object')

In [11]:
#Find unique columns in the dataset
columns = df.columns
for col in columns:
    unique_col = df[col].unique()
    print('columns:', col)
    print("Unique values:", unique_col)
    print("Value counts: ", df[col].value_counts(dropna=False))

columns: general_health
Unique values: [nan 'VERY GOOD' 'GOOD' 'FAIR' 'POOR']
Value counts:  general_health
VERY GOOD    8065
GOOD         6270
NaN          4898
FAIR         2324
POOR          603
Name: count, dtype: int64
columns: veg_perweek
Unique values: [ 0  2 20  4  6 11  9  8 18 22  3 12 10  1 16  5  7 17 13 19 14 23 21 15
 24 26 25 27 28 29]
Value counts:  veg_perweek
0     2185
3     2174
4     2133
2     1986
5     1891
1     1650
6     1549
7     1201
16    1187
8      870
11     860
9      851
10     811
12     681
13     462
14     380
15     301
17     283
18     217
19     120
20      91
21      84
23      64
22      57
24      35
25      21
26       9
27       5
28       1
29       1
Name: count, dtype: int64
columns: feel_left_out
Unique values: [nan 'SOME OF THE TIME' 'HARDLY EVER' 'OFTEN']
Value counts:  feel_left_out
NaN                 13713
HARDLY EVER          6612
SOME OF THE TIME     1576
OFTEN                 259
Name: count, dtype: int64
columns: poverty_level
Unique values: ['300% FPL AND ABOVE' '100-199% FPL' '0-99% FPL' '200-299% FPL']
Value counts:  poverty_level
300% FPL AND ABOVE    14612
100-199% FPL           2823
200-299% FPL           2800
0-99% FPL              1925
Name: count, dtype: int64
columns: household_tenure
Unique values: ['RENT/SOME OTHER ARRANGEMENT' 'OWN']
Value counts:  household_tenure
OWN                            15473
RENT/SOME OTHER ARRANGEMENT     6687
Name: count, dtype: int64
columns: interview_language
Unique values: ['ENGLISH' 'SPANISH' 'OTHER LANGUAGE']
Value counts:  interview_language
ENGLISH           21131
SPANISH             656
OTHER LANGUAGE      373
Name: count, dtype: int64

A good research question is what you do with your non values (NaN), based on the SITUATION

In [12]:
df.describe()

        veg_perweek
count  22160.000000
mean       6.413538
std        5.292092
min        0.000000
25%        2.000000
50%        5.000000
75%       10.000000
max       29.000000

In [13]:
#Another layer of information to tell us about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22160 entries, 0 to 372
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   general_health      17262 non-null  object
 1   veg_perweek         22160 non-null  int64
 2   feel_left_out       8447 non-null   object
 3   poverty_level       22160 non-null  object
 4   household_tenure    22160 non-null  object
 5   interview_language  22160 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.2+ MB

In [14]:
# Let's reset the index
df.reset_index(drop=True)
df

,general_health,veg_perweek,feel_left_out,poverty_level,household_tenure,interview_language
0,NaN,0,NaN,300% FPL AND ABOVE,RENT/SOME OTHER ARRANGEMENT,ENGLISH
1,VERY GOOD,2,SOME OF THE TIME,300% FPL AND ABOVE,OWN,ENGLISH
2,VERY GOOD,20,NaN,100-199% FPL,RENT/SOME OTHER ARRANGEMENT,ENGLISH
3,GOOD,4,HARDLY EVER,100-199% FPL,OWN,ENGLISH
4,GOOD,6,NaN,300% FPL AND ABOVE,RENT/SOME OTHER ARRANGEMENT,ENGLISH
...,...,...,...,...,...,...
368,GOOD,4,OFTEN,200-299% FPL,OWN,OTHER LANGUAGE
369,GOOD,2,NaN,300% FPL AND ABOVE,RENT/SOME OTHER ARRANGEMENT,OTHER LANGUAGE
370,GOOD,10,NaN,200-299% FPL,RENT/SOME OTHER ARRANGEMENT,OTHER LANGUAGE
371,GOOD,7,HARDLY EVER,100-199% FPL,RENT/SOME OTHER ARRANGEMENT,OTHER LANGUAGE
372,VERY GOOD,5,HARDLY EVER,100-199% FPL,RENT/SOME OTHER ARRANGEMENT,OTHER LANGUAGE

<a id='clean'></a>

# Step 2: Data Cleaning

Often, we will want to remove some missing values in a DataFrame. Have a look at the `general_health` column and find the missing values using the `.isna()` method. Then, use `.sum()` to sum the amount of undefined (NaN) values.

In [15]:
# YOUR CODE HERE
total_nan_general = df['general_health'].isna().sum()
total_nan_general

np.int64(4898)

In [16]:
df["general_health"].isnull().sum()

np.int64(4898)

Get rid of the non-existent values in this column with the `.dropna()` method. Look through the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html) to see how to do this.

üí° **Tip**: Use the `subset` argument to select a specific column to remove values from.

In [ ]:
# YOUR CODE HERE
no_nan_df = df.dropna(subset=['general_health'])

In [20]:
no_nan_df = no_nan_df.dropna(subset=['feel_left_out'])

NameError: name 'no_nan_df' is not defined

In [17]:
duplicates = df.duplicated()

In [18]:
duplicates

0      False
1      False
2      False
3      False
4      False
       ...
368    False
369     True
370    False
371    False
372     True
Length: 22160, dtype: bool

<a id='eda'></a>

# Step 3: Data Analysis

Now that we have preprocessed data, we want to analyze it. Recall that our goal is to visualize a relationship between poverty level and general health. Before we do this, we should get a better grasp of what is in our data.

## Counting Values
The first thing we will want to do is count values of poverty levels: we want to see how many levels there are, and how the data are distributed. First, run `value_counts()` on the `poverty_level` column. 

üìù **Poll PyFun 6-1**: Look through the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html) for `value_counts()`. What parameter can you use to normalize the output?

In [ ]:
# YOUR CODE HERE

## Creating a Function

It turns out that poverty is expressed "as Times of 100% Federal Poverty Line (FPL)".
For instance, `"100-199%" FPL"` means that the row's income was 1-1.99 times the FPL.
One approach to this statistic could be to see if we can find differences in general health for people **below and above the poverty line**. 

To do this, we can create a function that takes in values of the `poverty_level` column and outputs whether that value is above or below the poverty line.

1. Create a new function called `assign_level`. It takes one parameter, which we'll call `i`.
2. If `i` is `"0-99% FPL"`, return 0. In all other cases, return 1.

In [ ]:
# YOUR CODE HERE

## Applying a Function

Recall that we can use the `apply()` method in Pandas to apply our new function to the `poverty_level` column of our DataFrame. We also want to save the output of this `apply()` method to a new column in our DataFrame. 

1. Use the `apply()` method on the `poverty_level` column. Pass your `assign_level` function as the argument.
3. Save the result of this operation in a new column in your `df`, called `above_poverty_line`.

In [ ]:
# YOUR CODE HERE

## Subsetting a DataFrame

In order to create two bar plots of general health ‚Äì for people above and below the poverty line ‚Äì we can create two DataFrames for just these groups. We can then plot the values in these DataFrames "on top of" one another in a barplot.

Recall that we can subset DataFrames with Boolean masks. For instance, say we have a DataFrame `counts` with a column `A`. If we want to create a new DataFrame called `above_800`, which only contains the values over 800 in column `A` of `counts`, we would write:

```
above_800 = counts[counts['A'] > 800]
```

Let's perform the same operation on our data.

1. Create a new DataFrame, `df_below`. It will be a subset of our `df`, based on the condition that the value in `above_poverty_line` is 0.
2. Create a new DataFrame, `df_above`. It will be a subset of our `df`, based on the condition that the value in `above_poverty_line` is 1.

In [ ]:
# YOUR CODE HERE
df_below = ...
df_above = ...

## Creating the Visualization

Finally, let's create our bar plots. We will create 2 plots in 1 cell, which will be plotted on top of one another. 

Fill in the blanks below, following the steps. 

1. Run a **normalized** `value_counts()` on the `general_health` column of `df_above` and `df_below`.
2. We are running `plot()` on the output of the resulting DataFrame. Enter the values for two arguments: `kind` must be set to `bar`, and `alpha` must be set to `.5`.

In [ ]:
# YOUR CODE HERE
df_above[...].value_counts(...).plot(kind=..., alpha=...);
df_below[...].value_counts(...).plot(kind=..., alpha=...,color='maroon');

üìù **Poll PyFun 6-2**:What is the `alpha` parameter doing? Read through the [documentation](https://pandas.pydata.org/docs/user_guide/visualization.html) to find out.</span>

# üéâ Well Done!

Today's project took us through a data science workflow in Python:

- Importing multiple .csv files
- Exploratory Data Analysis
- Basic visualization

### üí° Tip: More Workshops!

D-Lab teaches workshops that allow you to practice more with DataFrames and visualization.

- To learn more about Pandas and data wrangling, check out D-Lab's [Python Data Wrangling workshop](https://github.com/dlab-berkeley/Python-Data-Wrangling).
- To learn more about data visualization, check out D-Lab's [Python Data Visualization workshop](https://github.com/dlab-berkeley/Python-Data-Visualization).
- To learn more about text analysis, check out D-Lab's [Python Text Analysis workshop](https://github.com/dlab-berkeley/Python-Text-Analysis).

<div class="alert alert-success">

## ‚ùó Key Points

* File structures can be navigated using absolute and relative file paths.
* The `.dropna()` method in Pandas removes missing values from a `DataFrame` or `Series`.
* Custom Functions can be applied to the axis of a DataFrame using `apply()`.
* Subsetting DataFrames based on some condition can help with creating comparative visualizations.    

</div>