In [3]:
import os
print("Current working directory:", os.getcwd())

Current working directory: /Users/user/Documents/mit_stuff/CDSP_GROUP_11/ET6-CDSP-group-11-repo/1_datasets/olumide_data_collection_folder/annual_avg_wage

In [4]:
import pandas as pd

In [6]:
dfs = []

# Define the common path prefix once
base_path = "/Users/user/Documents/mit_stuff/CDSP_GROUP_11/ET6-CDSP-group-11-repo/1_datasets/olumide_data_collection_folder/annual_avg_wage/data"

for year in range(2020, 2025):
    file_path = f"{base_path}/annual_avg_{year}.csv"
    print(f"Loading: {file_path}")  # helpful for debugging
    df = pd.read_csv(file_path)
    df["year"] = year
    dfs.append(df)

all_data = pd.concat(dfs, ignore_index=True)

print("Combined DataFrame:")
print(all_data.head())

Loading: /Users/user/Documents/mit_stuff/CDSP_GROUP_11/ET6-CDSP-group-11-repo/1_datasets/olumide_data_collection_folder/annual_avg_wage/data/annual_avg_2020.csv
Loading: /Users/user/Documents/mit_stuff/CDSP_GROUP_11/ET6-CDSP-group-11-repo/1_datasets/olumide_data_collection_folder/annual_avg_wage/data/annual_avg_2021.csv
Loading: /Users/user/Documents/mit_stuff/CDSP_GROUP_11/ET6-CDSP-group-11-repo/1_datasets/olumide_data_collection_folder/annual_avg_wage/data/annual_avg_2022.csv
Loading: /Users/user/Documents/mit_stuff/CDSP_GROUP_11/ET6-CDSP-group-11-repo/1_datasets/olumide_data_collection_folder/annual_avg_wage/data/annual_avg_2023.csv
Loading: /Users/user/Documents/mit_stuff/CDSP_GROUP_11/ET6-CDSP-group-11-repo/1_datasets/olumide_data_collection_folder/annual_avg_wage/data/annual_avg_2024.csv
Combined DataFrame:
  area_fips  own_code industry_code  agglvl_code  size_code  year qtr  \
0     US000         0            10           10          0  2020   A
1     US000         1            10           11          0  2020   A
2     US000         1           101           12          0  2020   A
3     US000         1          1011           13          0  2020   A
4     US000         1          1012           13          0  2020   A

  disclosure_code  annual_avg_estabs  annual_avg_emplvl  ...  \
0             NaN           10487687          139103773  ...
1             NaN              61310            2928036  ...
2             NaN                123              54617  ...
3             NaN                 75               3665  ...
4             NaN                  1                  4  ...

   oty_total_annual_wages_chg  oty_total_annual_wages_pct_chg  \
0                136497892833                             1.6
1                 12146392526                             5.1
2                   212310210                             4.7
3                    22254175                             8.7
4                       14473                             2.3

   oty_taxable_annual_wages_chg  oty_taxable_annual_wages_pct_chg  \
0                  -51272621069                              -2.9
1                             0                               0.0
2                             0                               0.0
3                             0                               0.0
4                             0                               0.0

   oty_annual_contributions_chg oty_annual_contributions_pct_chg  \
0                   -3452466563                            -10.6
1                             0                              0.0
2                             0                              0.0
3                             0                              0.0
4                             0                              0.0

   oty_annual_avg_wkly_wage_chg  oty_annual_avg_wkly_wage_pct_chg  \
0                            92                               8.1
1                            23                               1.4
2                            48                               3.0
3                           124                               9.3
4                          1180                              73.8

   oty_avg_annual_pay_chg  oty_avg_annual_pay_pct_chg
0                    4812                         8.1
1                    1157                         1.4
2                    2464                         2.9
3                    6487                         9.3
4                   61339                        73.8

[5 rows x 38 columns]

In [7]:
print("Column names:", all_data.columns.tolist())
print(all_data.dtypes)

Column names: ['area_fips', 'own_code', 'industry_code', 'agglvl_code', 'size_code', 'year', 'qtr', 'disclosure_code', 'annual_avg_estabs', 'annual_avg_emplvl', 'total_annual_wages', 'taxable_annual_wages', 'annual_contributions', 'annual_avg_wkly_wage', 'avg_annual_pay', 'lq_disclosure_code', 'lq_annual_avg_estabs', 'lq_annual_avg_emplvl', 'lq_total_annual_wages', 'lq_taxable_annual_wages', 'lq_annual_contributions', 'lq_annual_avg_wkly_wage', 'lq_avg_annual_pay', 'oty_disclosure_code', 'oty_annual_avg_estabs_chg', 'oty_annual_avg_estabs_pct_chg', 'oty_annual_avg_emplvl_chg', 'oty_annual_avg_emplvl_pct_chg', 'oty_total_annual_wages_chg', 'oty_total_annual_wages_pct_chg', 'oty_taxable_annual_wages_chg', 'oty_taxable_annual_wages_pct_chg', 'oty_annual_contributions_chg', 'oty_annual_contributions_pct_chg', 'oty_annual_avg_wkly_wage_chg', 'oty_annual_avg_wkly_wage_pct_chg', 'oty_avg_annual_pay_chg', 'oty_avg_annual_pay_pct_chg']
area_fips                            object
own_code                              int64
industry_code                        object
agglvl_code                           int64
size_code                             int64
year                                  int64
qtr                                  object
disclosure_code                      object
annual_avg_estabs                     int64
annual_avg_emplvl                     int64
total_annual_wages                    int64
taxable_annual_wages                  int64
annual_contributions                  int64
annual_avg_wkly_wage                  int64
avg_annual_pay                        int64
lq_disclosure_code                   object
lq_annual_avg_estabs                float64
lq_annual_avg_emplvl                float64
lq_total_annual_wages               float64
lq_taxable_annual_wages             float64
lq_annual_contributions             float64
lq_annual_avg_wkly_wage             float64
lq_avg_annual_pay                   float64
oty_disclosure_code                  object
oty_annual_avg_estabs_chg             int64
oty_annual_avg_estabs_pct_chg       float64
oty_annual_avg_emplvl_chg             int64
oty_annual_avg_emplvl_pct_chg       float64
oty_total_annual_wages_chg            int64
oty_total_annual_wages_pct_chg      float64
oty_taxable_annual_wages_chg          int64
oty_taxable_annual_wages_pct_chg    float64
oty_annual_contributions_chg          int64
oty_annual_contributions_pct_chg    float64
oty_annual_avg_wkly_wage_chg          int64
oty_annual_avg_wkly_wage_pct_chg    float64
oty_avg_annual_pay_chg                int64
oty_avg_annual_pay_pct_chg          float64
dtype: object

In [8]:
print(all_data.isnull().sum())

area_fips                               0
own_code                                0
industry_code                           0
agglvl_code                             0
size_code                               0
year                                    0
qtr                                     0
disclosure_code                     19202
annual_avg_estabs                       0
annual_avg_emplvl                       0
total_annual_wages                      0
taxable_annual_wages                    0
annual_contributions                    0
annual_avg_wkly_wage                    0
avg_annual_pay                          0
lq_disclosure_code                  19202
lq_annual_avg_estabs                    0
lq_annual_avg_emplvl                    0
lq_total_annual_wages                   0
lq_taxable_annual_wages                 0
lq_annual_contributions                 0
lq_annual_avg_wkly_wage                 0
lq_avg_annual_pay                       0
oty_disclosure_code                 18343
oty_annual_avg_estabs_chg               0
oty_annual_avg_estabs_pct_chg           0
oty_annual_avg_emplvl_chg               0
oty_annual_avg_emplvl_pct_chg           0
oty_total_annual_wages_chg              0
oty_total_annual_wages_pct_chg          0
oty_taxable_annual_wages_chg            0
oty_taxable_annual_wages_pct_chg        0
oty_annual_contributions_chg            0
oty_annual_contributions_pct_chg        0
oty_annual_avg_wkly_wage_chg            0
oty_annual_avg_wkly_wage_pct_chg        0
oty_avg_annual_pay_chg                  0
oty_avg_annual_pay_pct_chg              0
dtype: int64

In [9]:
print(all_data["year"].value_counts().sort_index())

year
2020    4547
2021    4540
2022    4464
2023    4531
2024    4524
Name: count, dtype: int64

In [10]:
columns_to_keep = [
    "year",
    "annual_avg_estabs",
    "annual_avg_emplvl",
    "annual_avg_wkly_wage"
]

In [11]:
cleaned_data = all_data[columns_to_keep].copy()

In [12]:
print(cleaned_data.head())
print("Remaining columns:", cleaned_data.columns.tolist())

   year  annual_avg_estabs  annual_avg_emplvl  annual_avg_wkly_wage
0  2020           10487687          139103773                  1231
1  2020              61310            2928036                  1644
2  2020                123              54617                  1663
3  2020                 75               3665                  1459
4  2020                  1                  4                  2779
Remaining columns: ['year', 'annual_avg_estabs', 'annual_avg_emplvl', 'annual_avg_wkly_wage']

In [13]:
cleaned_data.to_csv("cleaned_qcew_data.csv", index=False)
print("Cleaned data saved as cleaned_qcew_data.csv")

Cleaned data saved as cleaned_qcew_data.csv

In [14]:
# Check for missing (NaN) values in each column
null_counts = cleaned_data.isnull().sum()
print("Null values in cleaned data:\n", null_counts)

Null values in cleaned data:
 year                    0
annual_avg_estabs       0
annual_avg_emplvl       0
annual_avg_wkly_wage    0
dtype: int64