In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(
    "/Users/user/Documents/mit_stuff/CDSP_GROUP_11/ET6-CDSP-group-11-repo/1_datasets/olumide_data_collection_folder/us_bureau_data/usa_national_annual_wage_softwarejob_2020.csv"
)

In [7]:
df.head()

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,annual_avg_estabs,annual_avg_emplvl,...,oty_total_annual_wages_chg,oty_total_annual_wages_pct_chg,oty_taxable_annual_wages_chg,oty_taxable_annual_wages_pct_chg,oty_annual_contributions_chg,oty_annual_contributions_pct_chg,oty_annual_avg_wkly_wage_chg,oty_annual_avg_wkly_wage_pct_chg,oty_avg_annual_pay_chg,oty_avg_annual_pay_pct_chg
0,US000,0,10,10,0,2020,A,NaN,10487687,139103773,...,136497892833,1.6,-51272621069,-2.9,-3452466563,-10.6,92,8.1,4812,8.1
1,US000,1,10,11,0,2020,A,NaN,61310,2928036,...,12146392526,5.1,0,0.0,0,0.0,23,1.4,1157,1.4
2,US000,1,101,12,0,2020,A,NaN,123,54617,...,212310210,4.7,0,0.0,0,0.0,48,3.0,2464,2.9
3,US000,1,1011,13,0,2020,A,NaN,75,3665,...,22254175,8.7,0,0.0,0,0.0,124,9.3,6487,9.3
4,US000,1,1012,13,0,2020,A,NaN,1,4,...,14473,2.3,0,0.0,0,0.0,1180,73.8,61339,73.8

In [8]:
df.describe()

,own_code,agglvl_code,size_code,year,annual_avg_estabs,annual_avg_emplvl,total_annual_wages,taxable_annual_wages,annual_contributions,annual_avg_wkly_wage,...,oty_total_annual_wages_chg,oty_total_annual_wages_pct_chg,oty_taxable_annual_wages_chg,oty_taxable_annual_wages_pct_chg,oty_annual_contributions_chg,oty_annual_contributions_pct_chg,oty_annual_avg_wkly_wage_chg,oty_annual_avg_wkly_wage_pct_chg,oty_avg_annual_pay_chg,oty_avg_annual_pay_pct_chg
count,4547.000000,4547.000000,4547.0,4547.0,4.547000e+03,4.547000e+03,4.547000e+03,4.547000e+03,4.547000e+03,4547.000000,...,4.547000e+03,4547.000000,4.547000e+03,4547.000000,4.547000e+03,4547.000000,4547.000000,4547.000000,4547.000000,4547.000000
mean,3.540576,17.052782,0.0,2020.0,2.311818e+04,3.098482e+05,1.981779e+10,3.749434e+09,6.422379e+07,1044.148010,...,3.062474e+08,1.884275,-1.127717e+08,-1.173323,-7.594413e+06,1.316802,53.225203,4.929910,2767.819881,4.929932
std,1.514649,1.974504,0.0,0.0,3.091189e+05,3.832993e+06,2.443478e+11,4.957186e+10,8.485695e+08,763.847959,...,4.861649e+09,52.227466,1.732335e+09,19.330204,1.011735e+08,94.335396,115.613958,11.378133,6012.123709,11.376297
min,0.000000,10.000000,0.0,2020.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,-8.156484e+10,-100.000000,-5.127262e+10,-63.900000,-3.452467e+09,-100.000000,-614.000000,-100.000000,-31905.000000,-100.000000
25%,2.000000,16.000000,0.0,2020.0,9.000000e+00,1.140000e+02,4.768478e+06,0.000000e+00,0.000000e+00,574.000000,...,-8.293534e+06,-2.300000,-1.527689e+07,-4.100000,-1.586342e+06,-13.100000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,17.000000,0.0,2020.0,3.880000e+02,1.062600e+04,6.724361e+08,6.549051e+07,6.591920e+05,1024.000000,...,0.000000e+00,0.000000,0.000000e+00,0.000000,-1.170600e+04,-4.300000,43.000000,4.100000,2236.000000,4.100000
75%,5.000000,18.000000,0.0,2020.0,3.979500e+03,7.014050e+04,4.244018e+09,8.064179e+08,1.359935e+07,1417.000000,...,4.079716e+07,4.100000,0.000000e+00,0.000000,0.000000e+00,0.000000,72.000000,7.100000,3732.500000,7.100000
max,9.000000,95.000000,0.0,2020.0,1.048769e+07,1.391038e+08,8.905607e+12,1.701612e+12,2.918431e+10,6146.000000,...,1.364979e+11,1927.100000,4.685817e+09,508.600000,5.802426e+07,2479.400000,4333.000000,342.300000,225334.000000,342.400000

In [11]:
columns_to_keep = [
    "area_fips",
    "year",
    "industry_code",
    "annual_avg_emplvl",
    "annual_avg_wkly_wage",
    "avg_annual_pay",
    "oty_annual_avg_emplvl_chg",
    "oty_annual_avg_emplvl_pct_chg",
    "oty_annual_avg_wkly_wage_chg",
    "oty_annual_avg_wkly_wage_pct_chg",
]

In [12]:
df = df[columns_to_keep]

In [14]:
df.head(20)

,area_fips,year,industry_code,annual_avg_emplvl,annual_avg_wkly_wage,avg_annual_pay,oty_annual_avg_emplvl_chg,oty_annual_avg_emplvl_pct_chg,oty_annual_avg_wkly_wage_chg,oty_annual_avg_wkly_wage_pct_chg
0,US000,2020,10,139103773,1231,64021,-9001319,-6.1,92,8.1
1,US000,2020,10,2928036,1644,85467,103882,3.7,23,1.4
2,US000,2020,101,54617,1663,86456,925,1.7,48,3.0
3,US000,2020,1011,3665,1459,75885,-21,-0.6,124,9.3
4,US000,2020,1012,4,2779,144508,-4,-50.0,1180,73.8
5,US000,2020,1013,50949,1677,87211,951,1.9,41,2.5
6,US000,2020,102,2873419,1643,85448,102957,3.7,22,1.4
7,US000,2020,1021,670382,1250,64989,-5632,-0.8,49,4.1
8,US000,2020,1022,6640,1611,83763,67,1.0,43,2.7
9,US000,2020,1023,12095,2403,124979,74,0.6,80,3.4
10,US000,2020,1024,69044,1769,91972,1516,2.2,13,0.7
11,US000,2020,1025,425315,1670,86829,3817,0.9,74,4.6
12,US000,2020,1026,45396,998,51914,-3094,-6.4,43,4.5
13,US000,2020,1027,4492,1125,58523,-132,-2.9,44,4.1
14,US000,2020,1028,1640052,1806,93896,106341,6.9,-19,-1.0
15,US000,2020,1029,2,2620,136239,0,0.0,131,5.3
16,US000,2020,11,3665,1459,75885,-21,-0.6,124,9.3
17,US000,2020,112,19,1389,72236,-2,-9.5,-5,-0.4
18,US000,2020,1125,19,1389,72236,-2,-9.5,-5,-0.4
19,US000,2020,11251,19,1389,72236,-2,-9.5,-5,-0.4